.Rproj.user
.Rhistory
.RData
.Ruserdata
.lintr
data/demographic_data.csv
Syndelphi_BKUP_20221108_17.qda/
Syndelphi_BKUP_20221108_20.qda
/.quarto/
rapport_IEFH.qmd
rapport_IEFH.docx
.radian_profile

/.luarc.json
